:root {
    --dark: #1a202c;
    --gray-1: #dae0e7;
    --gray-2: #424c5a;
    --blue-1: #2a66dd;
}
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--gray-1);
    
}

.text-center{
    text-align: center;
}

.nav-enlace{
    display: inline;
    color: var(--gray-2);
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    line-height: 19px;
    padding-left: 35px;
    
}

.nav-enlace:hover{
    color: #000000;
    font-size: 22px;

}

nav{
    padding: auto;
    padding: 25px;
    color: var(--gray-2);
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding: auto;
    align-items:center;

}

.logo {
    height: 50px;
    display: flex;
    align-items:center;
    margin: auto;
    margin-left: 5px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.main-title {
    color: #000000;
    align-items:center;
    font-style: normal;
    font-size: 40px;

}

.button-expand-menu{
    display: none;
    outline: none;
    padding: 0;
    border: none;
    background: none;
    padding: 0px 10px;

}

.pag-inicio {
    position:relative;
    background: #1085d3;
    width: 100%;
    color: #f1f1f1;
    text-align:center;
}

.titulo-inicio {
    padding-top: 125px;
    padding-bottom: 100px;
    margin:0px auto;
    font-size: 40px;
    line-height: 39px;;
}

.subtitulo-inicio {

    font-size: 18px;
    line-height: 19px;
    padding-bottom: 90px;
    width: auto;
    text-align: center;
}


.boton-inicio{
    border-radius: 30px;
    background: transparent;
    border-color: white;
    height: 100px;
    width: 200px;
    margin-bottom: 50px;
}


.imagen-boton-descarga{
    padding: 0;
    margin: 0;
    height: 55px;

}

.titulo-boton-descarga{
    color: white;
    font-size: 15px;

}

.imagenes-hero{
    width: 100%;
    height: 100%;

}

.carroucel {
    width: 100%;
    position: relative;
    height: 780px;
}

.botones{
    font-size: 30px;
    width: 70px;
    height: 70px; 
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.atras{
    left: 2%;
    top: calc(50% - 70px);
}

.adelante{
    right: 2%;
    top: calc(50% - 70px);
}


.sec-experience{
    padding: 50px 0;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.div-experience{
    background-color: rgba(181, 197, 197, 0.274);
    color: 1px solid #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(105, 157, 167, 0.342);
    width: 22%;
    box-sizing: border-box;

}

.div-experience:hover{
    padding: 12px;

}

.texto-experience{
    padding: 10px;

}

.boton-experience{
    background: var(--blue-1);
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.boton-experience:hover{
    background-color: #209dc4;
}

.titulo-experience{
    padding-bottom: 15px;

}

.div-aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color:  #1085d3;
    padding: 0 20px;
}

.card-aboutme{
    display: flex;
    width: 900px;   
    height: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);

}

.aboutme-header{
    border-right: 1px solid #ddd;
}

.aboutme-description{
    background: #fbfbfb;

}

.aboutme-header, .aboutme-description{
    padding: 20px;
    text-align: center;
}

.aboutme-header a{
    position: relative;
    display: block;

}

.aboutme-header img{
    border-radius: 5%;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .6);
    margin: 20px 30px;
    transition: .2s;
}

.aboutme-header a:hover img{
    box-shadow: 0 0 0 12px rgba(0, 0, 0, .1);

}

.aboutme-header h2{
    color: #f0522a;
}

.aboutme-header h4{
    margin-bottom: 20px;
}

.aboutme-description{
    position: relative;

}
.aboutme-description p{
    margin: 20px 30px;

}

@media (max-width: 854px){
    .card-aboutme{
        display: block;
        width: 450px;
    }
    .aboutme-header{
        padding: 20px 20px 5px 20px;
        border: none;
    }

    .aboutme-description{
        padding: 6px 20px 20px 20px;
        background: transparent;
    }

    .aboutme-header h4{
        margin: 0;
    }

}

@media (max-width: 854px) {

    .button-expand-menu{
        display: inline-block;
        align-items:baseline;
    }

    nav{
        flex-direction: column;
        align-items: center;
    }

    .desaparece{
        display: none;
    }

    .logo {
        height: 70px;
        margin: 0 0;
        align-items: center;
    }

    .main-title {
        display: none   
    }

    .nav-enlace{
        font-size: 22px;
        padding: 7px;
    }
    
    .nav-enlace:hover{
        color: #000000;
        font-size: 25px;
    
    }

}

@media (max-width: 1450px){
    .div-experience{
        width: 45%;
        margin-bottom: 30px;

    }
}

@media (max-width: 700px){
    .div-experience{
        width: 100%;
        margin-bottom: 30px;

    }
}